body{
    font-size: 1.2rem;
    background-image: url(../imagens/593284.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.fundo1{
    background-color: black;
    width: 90%;
    height: 80%;
    opacity: 0.8;
    margin: auto;
}

.header{
    margin-left: 20%;
    background-color: white;
    width: 1000px;
    display: flex;
    justify-content: space-between;
    width: 60%;
    height: 50px;
}

#logo{
    font-size: 24px;
    display: flex;
    color: black;
    justify-content: space-between;
    transform: translate(0, -20%);
}

#logo:hover{
    color: gray;
}

ul{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

a{
    text-decoration: none;
    color: inherit;
    list-style: none;
}

.menu:hover{
    background-color: gray;
    color: white;
}

.menu{
    padding: 14px;
    list-style: none;
    color: black;
    flex-grow: 1;
    transform: translate(-40%, -40%);
    background-color: red;
}

.titulo{
    text-align: center;
}

.img1{
    width: 450px;
    margin: 5px;
    float: left;
}

.indice{
    border: 1px solid gray;
    display: block;
    width: 60%;
}

.texto-indice:hover{
    color: gray;
}

main{
    margin: 5px;
}


.img2{
    float: left;
    width: 350px;
    margin: 5px;
}

.img3{
    float: left;
    width: 350px;
    height: 250px;
    margin: 5px;
}

.img4{
    float: left;
    width: 400px;
    height: 450px;
    margin: 5px;
}

.img5{
    float: left;
    width: 400px;
    height: 300px;
    margin: 5px;
}

.img6{
    float: left;
    width: 450px;
    height: 420px;
    margin: 5px;
}

.img7{
    float: left;
    width: 300px;
    height: 300px;
    margin: 5px;
}



